.content {
    max-width: 1070px;
    margin: auto;
    display:flex;
    flex-direction: column;
    height:100vh;overflow:hidden
}
div{
    border-radius: 5px;
 }
#header{
    text-align: right;
    color: white;
    width: 100%;
    margin-bottom: 10px;
}

#header p {
    margin-top:0px;
    margin-bottom:0px;
    padding: 0.5rem;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
}

#header p a {
    color:white;
    text-decoration: none;
}

#name {
	padding-bottom: 10px;
	font-size: 30px;
	font-family: Verdana, sans-serif;
	color: black;
    display: block;
    font-weight: 800;
    
}

#email {
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
    color: black;
	
}

#contact {
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
    color: black;
	
}
#address {
    padding-bottom: 10px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
    color: black;
}

.right{
    float: left;
    margin-top: 5px;
    padding-left:5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    height:100%;overflow:scroll
}
    
h3{
   
    text-align: center;
}

.workexp {
    display: flex;
    
}

#job-responsibilities{
    padding: 1px;
}

.job-title{
font-weight: bold;
}

table{
    border: 1px dashed black;
}

td{
    padding: 2px;
    border: 1px solid #E88741;
    }

#course-name{
    font-weight:bold;
}

#company-name{
    height:2px;
    font-weight: 800;
    padding-right: 5px;
    
}
#job-title{
    height: 2px;
    padding-right: 5px;
}

#job-duration{
    height: 2px;
}
#heading{
    font-weight:bold;
}


@media only screen and (max-width: 600px) {
    .right {
       padding: 10px;
    }
    .content {
       padding: 8px;
    }
    h4{
        font-size: 10px;
    }
    h3 {
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    li {
        font-size: 10px;
    }
    header, p{
        font-size: 10px;
    }
    header, a{
        font-size: 10px;
        padding-right: 8px;
    }
    
    #name{
        font-size: 18px;
    }

    #email {
        font-size: 10px;
        
    }
    
    #contact {
        font-size: 10px;
        
    }
    #address {
        font-size: 10px;
        
    }
    #company-name{
        
        padding-right: 1px;
        
    }
    #job-title{
        padding-right: 1px;
    }
}
